@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveX {
  0% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0);
  }
}

.chegando{
  animation: moveX 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.img-fundo{
  background: url('./components/Main/image/imagem-princ.jpg');
  background-size: cover;
}

.alinhamento {
  @apply flex items-center;
}